<fm-deliver-to deliver-to="deliverTo"></fm-deliver-to>

<div class="row fm-restaurant">

  <div class="col-md-2">
    <img ng-src="img/restaurants/{{restaurant.id}}.jpg" class="img-rounded">
  </div>

  <div class="col-md-10">
    <h3>{{restaurant.name}}</h3>

    <div class="row">
      <div class="col-md-2">
        <div>{{restaurant.address}}</div>
        <div>{{restaurant.rating | stars}}</div>
        <div>{{restaurant.price | dollars}}</div>
      </div>
      <div class="col-md-4">
        <div>{{restaurant.description}}</div>
      </div>
    </div>
  </div>
</div>


<div class="row">

  <div class="col-md-8">
    <div class="fm-panel fm-menu-list">
      <div class="fm-heading">Menu</div>

      <div class="fm-content">
        <ul>

          <li ng-repeat="menuItem in restaurant.menuItems">
            <a href>
              <span>{{menuItem.name}}</span>
              <span>{{menuItem.price | currency}}</span>
              <i class="glyphicon glyphicon-plus" ng-click="shoppingCart.add(menuItem, restaurant)"></i>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="fm-panel fm-cart">
      <div class="fm-heading">Your order</div>
      <div class="fm-content">
        <div class="fm-restaurant">{{ shoppingCart.restaurant.name }}</div>

        <ul class="list-unstyled">
          <li ng-repeat="cartItem in shoppingCart.items">
            <a ng-click="shoppingCart.remove(cartItem)">
              <i class="glyphicon glyphicon-remove"></i>
              {{cartItem.amount}} &times; {{ cartItem.name }}
            </a>
          </li>
        </ul>
        <div class="pull-right">
          <a href="#/checkout" class="btn btn-primary">Checkout</a>
        </div>
        <div class="fm-total">Total: {{shoppingCart.total() | currency}}</div>
      </div>
    </div>
  </div>

</div>