<div class="row">
  <div class="col-md-12">
    <div class="breadcrumb fm-deliver-to">
      Deliver to: Placeholder street 23, Town of Placeholder, 98765
      <a href="#/customer-info" class="pull-right">Change</a>
    </div>
  </div>
</div>

<div class="row fm-restaurant">

  <div class="col-md-2">
    <img ng-src="img/restaurants/{{restaurant.id}}.jpg" class="img-rounded">
  </div>

  <div class="col-md-10">
    <h3>{{restaurant.name}}</h3>

    <div class="row">
      <div class="col-md-2">
        <div>{{restaurant.address}}</div>
        <div>{{restaurant.rating | stars}}</div>
        <div>{{restaurant.price | dollars}}</div>
      </div>
      <div class="col-md-4">
        <div>{{restaurant.description}}</div>
      </div>
    </div>
  </div>
</div>


<div class="row">

  <div class="col-md-8">
    <div class="fm-panel fm-menu-list">
      <div class="fm-heading">Menu</div>

      <div class="fm-content">
        <ul>

          <li ng-repeat="menuItem in restaurant.menuItems">
            <a href>
              <span>{{menuItem.name}}</span>
              <span>{{menuItem.price | currency}}</span>
              <i class="glyphicon glyphicon-plus"></i>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="fm-panel fm-cart">
      <div class="fm-heading">Your order</div>
      <div class="fm-content">
        <ul class="list-unstyled">
          <li>
            <a href><i class="glyphicon glyphicon-remove"></i></a>
            2 &times; Thin crust broccoli, chicken, and mozarella
          </li>
          <li>
            <a href><i class="glyphicon glyphicon-remove"></i></a>
            1 &times; Greek salad
          </li>
        </ul>
        <div class="pull-right">
          <a href="#/checkout" class="btn btn-primary">Checkout</a>
        </div>
        <div class="fm-total">Total: $23.99</div>
      </div>
    </div>
  </div>

</div>