<div class="row">
  <div class="col-md-12">
    <div class="breadcrumb fm-deliver-to">
      Deliver to: Placeholder street 23, Town of Placeholder, 98765
      <a href="#/customer-info" class="pull-right">Change</a>
    </div>
  </div>
</div>

<div class="row fm-restaurant">

  <div class="col-md-2">
    <img src="img/restaurants/angular.jpg" class="img-rounded">
  </div>

  <div class="col-md-10">
    <h3>Angular Pizza</h3>

    <div class="row">
      <div class="col-md-2">
        <div>2232 King St.</div>

        <ul class="fm-rating">
          <li class="fm-selected">★</li>
          <li class="fm-selected">★</li>
          <li class="fm-selected">★</li>
          <li class="fm-selected">★</li>
          <li class="fm-selected">★</li>
        </ul>

        <ul class="fm-rating">
          <li class="fm-selected">$</li>
          <li>$</li>
          <li>$</li>
          <li>$</li>
          <li>$</li>
        </ul>

      </div>
      <div class="col-md-4">
        <div>Home of the superheroic pizza!</div>
      </div>
    </div>
  </div>
</div>


<div class="row">

  <div class="col-md-8">
    <div class="fm-panel fm-menu-list">
      <div class="fm-heading">Menu</div>

      <div class="fm-content">
        <ul>
          <li>
            <span>Cesar salad</span>
            <a href>5.95 <i class="icon-plus-sign"></i></a>
          </li>
          <li>
            <span>Cheesecake</span>
            <a href>6.95 <i class="icon-plus-sign"></i></a>
          </li>
          <li>
            <span>Chicago-style deep dish chicken and spinach</span>
            <a href>6.95 <i class="icon-plus-sign"></i></a>
          </li>
          <li>
            <span>Chicago-style deep dish pepperoni and cheese</span>
            <a href>7.95 <i class="icon-plus-sign"></i></a>
          </li>
          <li>
            <span>Chicago-style deep dish vegetarian</span>
            <a href>6.95 <i class="icon-plus-sign"></i></a>
          </li>
          <li>
            <span>Chicago-style meat lover's</span>
            <a href>8.95 <i class="icon-plus-sign"></i></a>
          </li>
          <li>
            <span>Chocolate cake</span>
            <a href>3.95 <i class="icon-plus-sign"></i></a>
          </li>
          <li>
            <span>Coffee</span>
            <a href>7.95 <i class="icon-plus-sign"></i></a>
          </li>
          <li>
            <span>Garlic bread</span>
            <a href><i class="icon-plus-sign"></i></a>
          </li>
          <li>
            <span>Greek salad</span>
            <a href>5.95 <i class="icon-plus-sign"></i></a>
          </li>
          <li>
            <span>Pizza of the day (slice)</span>
            <a href>7.55 <i class="icon-plus-sign"></i></a>
          </li>
          <li>
            <span>Thin crust anchovy and garlic and chili pepper</span>
            <a href>5.95 <i class="icon-plus-sign"></i></a>
          </li>
          <li>
            <span>Thin crust broccoli, chicken, and mozarella</span>
            <a href>3.95 <i class="icon-plus-sign"></i></a>
          </li>
          <li>
            <span>Thin crust margherita</span>
            <a href>4.55 <i class="icon-plus-sign"></i></a>
          </li>
          <li>
            <span>Thin crust pepperoni</span>
            <a href>6.95 <i class="icon-plus-sign"></i></a>
          </li>
          <li>
            <span>Thin crust quattro stagione</span>
            <a href>4.95 <i class="icon-plus-sign"></i></a>
          </li>
          <li>
            <span>Thin crust sausage and guanciale bacon</span>
            <a href>4.95 <i class="icon-plus-sign"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="fm-panel fm-cart">
      <div class="fm-heading">Your order</div>
      <div class="fm-content">
        <ul class="list-unstyled">
          <li>
            <a href><i class="glyphicon glyphicon-remove"></i></a>
            2 &times; Thin crust broccoli, chicken, and mozarella
          </li>
          <li>
            <a href><i class="glyphicon glyphicon-remove"></i></a>
            1 &times; Greek salad
          </li>
        </ul>
        <div class="pull-right">
          <a href="#/checkout" class="btn btn-primary">Checkout</a>
        </div>
        <div class="fm-total">Total: $23.99</div>
      </div>
    </div>
  </div>

</div>